<h3>Description</h3>

Angular SPA Client work together with a secure .NET Core 2.2 Web API serving as a Membership System of Users
<br /> <br />

<b>Last Updated</b>
<ul>
  <li>01-06-2023</li>
</ul>

<b>Main functionality</b>
<ul>

  <li>It is possible to register and obtain an Account and perform a Login</li>
  <li>A User can delete and update own Account after performing successfully login</li>
  <li>An Admin can perform CRUD towards the Users after performing successfully login</li>
  <li>A List of Posts ( CRUD ) from a DB after a successfully login</li>
  <li>A List of Posts from a DB without doing a login</li>
  <li>A simple demo about state management in Angular using RxJS</li>
  <li>Cool Alert box popup for response on input values - success / errors</li>

</ul>

<b>Module Bundler</b>
<ul>

  <li>Manuel configuration of Webpack 4 serving as a module bundler</li>

</ul>


<b>Security</b>

<ul>

  <li>The Passwords of the Users are encrypted by BCRYPT before stored in the database</li>
  <li>The login system is using a JSON Web Token ( JWT )</li>
  <li>The user will have access to the secure endpoints of
    the Web API passing login and using the JWT</li>
  <li>The endpoints of the Web API are secured by JWT</li>
  <li>The Web API is secured by CORS allowing only the
    subdomain containing the SPA client making HTTPS request</li>

</ul>


<b>The Angular Single Page Application - The frontend</b>

<ul>

  <li>Angular 8</li>
  <li>TypeScript</li>
  <li>Less</li>
  <li>HTML and CSS</li>
  <li>Mainly JavaScript ES5, ES6 and ES7</li>
  <li>Traditionel Bootstrap 4 by CDN for the responsive design</li>

</ul>

<b>The .NET Core 2.2 Web API - The backend</b>

<ul>

  <li>.NET Core 2.2</li>
  <li>Mainly JavaScript ES5, ES6 and ES7</li>

</ul>

<b>The Database</b>
<ul>

  <li>MS SQL as the database</li>

</ul>

<b>Hosting</b>
<ul>
  <li>The Angular SPA client is hosted at a traditionel Webhotel on an IIS</li>
  <li>The Web API is hosted at a traditional Webhotel on an IIS</li>
</ul>

<b>Text Editor</b>
<ul>

  <li>Visual Studio Code as Text Editor</li>

</ul>

<b>Testing</b>
<ul>
  <li>Test Driven Developement and Unit Testing all the way developing the system</li>
</ul>